<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongo file uploads temp</title>
  </head>
  <body>
    <h1>Mongo file uploads</h1>
    <div class="container">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="">
          <input type="file" name="file" id="file" />
          <label for="file">Choose file</label>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
